<div>
<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
  אלסקה קליי קאי - Alaskan Klee kais
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Alaskan_Klee_Kais.jpg">   
 
  <mat-tab-group class="tab" >
    <br>
    <mat-tab label="תיאור כללי" >
        <div class="example-large-box mat-elevation-z4">
          גזע האלסקן קליי קאי הוא גרסה מוקטנת של גזע האלסקן האסקי והוא מאוד מזכיר את הגזע האסקי סיבירי מבחינה חיצונית. כלב זה מאופיין בפרווה ארוכה, עבה לבנה בדרך כלל ואוזניים מחודדות, הזנב שלהם עבה ופרוותי ומסתלסל על גבו של הכלב, הפנים של הזן המוקטן נחשבות על ידי רבים ליפיפיות. לרוב הכלבים מגזע זה אף שחור, העיניים הן בגודל בינוני וניתן לראותן בשילוב של צבעים. מדובר בכלבים סקרנים, מהירים, זריזים ומאוד פעילים. הם כלבים נאמנים מאוד שיכולים לשמש ככלבי שמירה למרות גודלם הקטן. הכלב מגזע האלסקן קליי קאי הוא זהיר ומאופק עם זרים ומאוד שופע חיבה כלפי בני המשפחה. 
          <br><br>
          * לאלסקן קליי קאי אין בית גידול בארץ וכלבים אלו מגיעים לארץ ביבוא אישי בלבד.
          גובה ממוצע של כלב בוגר: 38-42 ס"מ משקל ממוצע של כלב בוגר: 7-10 ק"ג
        </div>
    </mat-tab>
    <mat-tab label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          המילה החשובה ביותר בנוגע לגזע זה של כלבים היא "חיברות" חייבים לקחת אותם לכל מקום שבו מותרת כניסה לכלבים, כבר מאז שהם גורים כדי שהם יעברו תהליך חיברות כראוי, אם לא, הם עשויים להפוך לביישנים מאוד ומאופקים עם זרים. כלבי האלסקן קליי קאי, הם כלבי שמירה מצוינים, לא במובן של תקיפה, אלא במובן שהם מרתיעים על כך שמישהו זר מגיע. חשוב להעניק להם חשיפה גדולה מאוד למצבים שונים, כדי שהם יתרגלו לכך. כלבי האלסקן קליי קאי הינם בדרך כלל בעלי אנרגיה מרובה, חלקם נוטים גם להיות דברנים מאוד.
        </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
          כלבי האלסקן קליי קאי הם כלבים חסונים להפליא, אבל ישנו חשש לבעיה תורשתית של דימום שניתן לאתר בבדיקת דנ"א מוקדמת. חשוב להבריש כלבים אלו על בסיס קבוע ולרחוץ רק במידת הצורך, השמפו צריך להיות מיוחד לכלבים ולא שמפו רגיל שיכול לגרום להם לגירויים בעור. חשוב לבדוק את אוזניי הכלב ולנקותן בעדינות ובזהירות עם אצבע מכוסה בבד תחבושת, מומלץ לנקות פסולת מהעיניים ולשמור על הציפורניים של הכלב גזוזות, להקפיד להסתכל שהם הולכים בנוחות.
        </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
            כלבי האלסקו קליי קאי אינם תלויים בפעילות משפחתית כמו קרובי משפחתם הגדולים יותר, אבל הם מאוד אוהבים להשתובב עם המשפחה ועם כלבים אחרים. הם יכולים להישאר בבית בזמן שאתם אינכם נמצאים, אבל הם הכי יאהבו לרוץ במהירות רבה בחצר האחורית כשמתאפשר להם, כלבים מגזע זה יכולים לרוץ במהירות עצומה ולגורים יש אנרגיה שצריך לתעל לפעילות גופנית נמרצת, ככל שהם מתבגרים רמת האנרגיה שלהם יורדת, הם אוהבים לרוץ או ללכת עם הבעלים, לשחק משיכות בחבל ובמשחקי הבאת חפצים.
          </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
              אילוף כלב האלסקן קליי קאי צריך להיות עקבי ומלווה בפקודות קצרות החוזרות על עצמן, כל בני המשפחה צריכים לדעת את אותן הפקודות, כאשר הם מאלפים את הכלב לנימוסים בסיסיים. גזע כלבים זה נחשב לאינטליגנטי מאוד, אבל בכל זאת יש לו דעה עצמאית, לכן הוא לא תמיד צייתן, הצייתנות שלו משתפרת עם הגיל ועם העקביות באילוף. לגורי האלסקן קליי קאי יש חילוף חומרים מהיר מאוד ולכן קורות להם תאונות בתוך הבית ועליכם להיות מודעים לכך, כדי למנוע תאונות אלו חשוב להוציא אותם החוצה לעיתים קרובות מאוד. במשך הזמן הגורים ילמדו ליידע אתכם מתי הם צריכים לצאת. מכיוון שמדובר בכלבים רגישים מאוד הם מאסטרים בקריאת שפת הגוף והבעות פנים, עונש אינו נחוץ באילוף שלהם, מראה הפנים שלכם מספיק להם, טווח הקשב שלהם כשהם צעירים הוא קטן, אז אל תכעסו ליותר מידי זמן עליהם, כאשר הם מבצעים משהו שאינו לרוחכם.
            </div>
      </mat-tab>
      <br>
  </mat-tab-group>
  
</div>
 
