/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */



html, body { height: 100%; margin: 0; font-family: 'calibri';width: 1200px;}
body { margin: 0; font-family: 'calibri'}

.mat-tab-header{
    display:flex;
    overflow:hidden;
    position:relative;
    flex-shrink:0
}
.mat-tab-label{
    height:48px;
    padding:0 24px;
    cursor:pointer;
    box-sizing:border-box;
    opacity:1;
    min-width:160px;
    text-align:center;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    white-space:nowrap;
    position:relative;
    font-family: 'calibri';
    font-size: 22px;
    font: bold;
    color: black;
}
.mat-tab-label:focus{
    outline:0
}
.mat-tab-label:focus:not(.mat-tab-disabled){
    opacity:1
}
@media (-ms-high-contrast:active){
    .mat-tab-label:focus{
        outline:dotted 2px
    }
}
.mat-tab-label.mat-tab-disabled{
    cursor:default
}
@media (-ms-high-contrast:active){
    .mat-tab-label.mat-tab-disabled{
        opacity:.5
    }
}
.mat-tab-label .mat-tab-label-content{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    white-space:nowrap
}
@media (-ms-high-contrast:active){
    .mat-tab-label{
        opacity:1
    }
}
@media (max-width:599px){
    .mat-tab-label{
        min-width:72px
    }
}
.mat-ink-bar{
    position:absolute;
    bottom:0;
    height:2px;
    transition:.5s cubic-bezier(.35,0,.25,1)
}
.mat-tab-group-inverted-header .mat-ink-bar{
    bottom:auto;top:0
}
@media (-ms-high-contrast:active){
    .mat-ink-bar{
        outline:solid 2px;height:0
    }
}
.mat-tab-header-pagination{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    position:relative;
    display:none;
    justify-content:center;
    align-items:center;
    min-width:32px;
    cursor:pointer;
    z-index:2;
    -webkit-tap-highlight-color:transparent;
    touch-action:none
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
    display:flex
}
.mat-tab-header-pagination-before,.mat-tab-header-rtl .mat-tab-header-pagination-after{
    padding-left:4px
}
.mat-tab-header-pagination-before .mat-tab-header-pagination-chevron,.mat-tab-header-rtl .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron{
    transform:rotate(-135deg)
}
.mat-tab-header-pagination-after,.mat-tab-header-rtl .mat-tab-header-pagination-before{
    padding-right:4px
}
.mat-tab-header-pagination-after .mat-tab-header-pagination-chevron,.mat-tab-header-rtl .mat-tab-header-pagination-before .mat-tab-header-pagination-chevron{
    transform:rotate(45deg)
}
.mat-tab-header-pagination-chevron{
    border-style:solid;
    border-width:2px 2px 0 0;
    content:'';
    height:8px;
    width:8px
}
.mat-tab-header-pagination-disabled{
    box-shadow:none;
    cursor:default
}
.mat-tab-label-container{
    display:flex;
    flex-grow:1;
    overflow:hidden;
    z-index:1
}
.mat-tab-list{
    flex-grow:1;
    position:relative;
    transition:transform .5s cubic-bezier(.35,0,.25,1)
}
.mat-tab-labels{
    display:flex
}
[mat-align-tabs=center] .mat-tab-labels{
    justify-content:center
}
[mat-align-tabs=end].mat-tab-labels{
    justify-content:flex-end
}