<h1>הדרכה על גזעי כלבים</h1>
<mat-card  class="rashi" >
  <h3>השוני בין כלבים בא לידי ביטוי לא רק בתכונות חיצוניות של צבע, גודל ויופי, אלא גם בתכונות אופי "ייחודיות" לכל גזע כגון: אינטליגנטיות, סבלנות, עצמאות, ידידותיות כלפי זרים (או להפך חשדנות ותוקפנות), שובבות, תכונות צייד וכדומה. 
      בחירת גזע הכלב, לא רק על פי מראהו, אלא גם על פי האופי שלו ומידת התאמתו לתנאי הגידול שתוכלו לאפשר לו ובהתאם לסגנון של בני משפחתכם כגון: בית פרטי או בקומות, קיומם של ילדים, חיות מחמד אחרות ועוד. יהיה זה לא נכון, לבחור בכלב הרגיש לרעשים חזקים ונוטה להיות הססן, כדי לחיות בבית בו יש ילדים קטנים הנוטים להרעיש, שכן כלב זה יכול להתאים בעיקר למגורים עם אנשים מבוגרים. כמו כן, יהיה זה בלתי מתאים לבחור בגור גדול שנהנה מריצות ארוכות ומפעילות ספורטיבית יומיומית, כדי שיגור בבית קטן בו בני המשפחה רוב היום מחוץ לבית ואין להם פנאי לצאת איתו החוצה כדי לפרוק אנרגיות. ברשימת סוגי הכלבים שלנו השתדלנו לשלב תמונות מיטיבות של הגזעים השונים של הכלבים וכן לפרט אודות תכונות האופי המאפיינות כל גזע וגזע. זכרו שכל כלב שונה מהאחר אולם כדאי להתייחס גם לתכונות הייחודיות לכל סוג על מנת שההתאמה ביניכם לבין הכלב תהיה אופטימאלית.
  </h3>
  <br>
</mat-card>
<mat-card-actions>
    <button mat-raised-button  class="all-button"(click)="welcome()">חזור</button>
    <br>
</mat-card-actions>
<br>
<mat-card-title>
    אלסקן מלמוט - Alaskan Malamute
</mat-card-title>
  <img mat-card-image src="http://www.bonzo.co.il/Media/Uploads/Alaskan_Malamute.jpg">   
  <mat-tab-group class="tab" >
    <mat-tab  label="תיאור כללי">
        <div class="example-large-box mat-elevation-z4">
      כלב מגזע אלסקן מלמוט הוא כלב יפה להפליא ויש בו הרבה יותר מיופיו הרב. גזע אלסקן מלמוט הוא גזע בעל ממדי גוף גדולים מאוד. מדובר בכלבי עבודה חזקים הבנויים היטב, אוהבים לצוד את טרפם ולחפור. הפרווה של כלבי אלסקן מלמוט היא כבדה וכפולה, לכן הם צריכים להיות במקום קריר כאשר בחוץ הטמפרטורות גבוהות. העיניים של כלב אלסקן מלמוט הן חומות בצורת שקד, כלבים מגזע זה בעלי עיניים כחולות נחשבים לכלבים מעורבים. צבעי הפרווה של כלב אלסקן מלמוט יכולים להיות: אפור, שחור או אדמדם, באזור הפרצוף, הבטן והרגליים יש להם פרווה בצבע לבן. גובה ממוצע של כלב בוגר: 57-70 ס"מ משקל ממוצע של כלב בוגר: 39-55 ק"ג
        </div>
    </mat-tab>
      <mat-tab  label="תכונות אופי">
        <div class="example-large-box mat-elevation-z4">
          גזע אלסקן מלמוט הוא גזע אנרגטי מאוד, הם זקוקים לשפע של תשומת לב ושפע של פעילות גופנית, עקב היותם כלבים אינטליגנטיים מאוד ובעלי מחשבה עצמאית, הם יכולים לסרב לציית לך. אין ספק שכלבים מגזע אלסקן מלמוט ייבחנו פעמים רבות את הסבלנות שלך וכדאי גם להרחיק אותם מחיות מחמד קטנות אחרות עקב נטייתם הטבעית לצוד. למרות האמור לעיל מדובר בכלבים נאמנים מאוד המגנים על הבית ואוהבים את שאר בני המשפחה. חשוב לציין שגורי אלסקן מלמוט הם מאוד אנרגטיים בהשוואה לכלבים הבוגרים יותר.
      </div>
    </mat-tab>
    <mat-tab label="בריאות">
        <div class="example-large-box mat-elevation-z4">
            לגזע אלסקן מלמוט יכולות להיות מספר בעיות בריאותיות שכדאי לשים לב אליהן כגון: דיספלסיה של מפרק הירך, טונוס שרירים נמוך, גמדות, קטרקט ובעיות ראייה. מלבד זאת גזע אלסקן מלמוט נחשב לבריא מאוד ובעיות הבריאות נגרמות בדרך כלל בשל הזדקנות ולא מחלה. רכישת כלב אלסקן מלמוט עם שושלת בריאה עוזרת להפחית בעיות אלו. גם לתזונה ולפעילות הגופנית ישנה השפעה גדולה מאוד על בריאות הכלב. פרוות הכלב דורשת הברשה מספר פעמים בשבוע, חשוב גם להקפיד על בריאות השיניים של הכלבים מגזע אלסקן מלמוט ולצחצח את שיניהם באותה תכיפות של הברשת הפרווה. צריך לטפל בציפורני הכלב באופן סדיר. נשירת הפרווה היא כבדה מאוד ואין צורך לדאוג בגללה. אפשר לרחוץ את הכלב לעיתים קרובות, אפילו רק בשביל לקרר אותו.
      </div>
    </mat-tab>
      <mat-tab label="פעילות גופנית">
          <div class="example-large-box mat-elevation-z4">
              את כלב האלסקן צריך להפעיל לעיתים קרובות, עקב היותם כלבי עבודה, הם רוצים להיות עסוקים כל הזמן והם זקוקים למשחקים יחד עם הליכות ארוכות בכל יום. כלבים אלו צריכים להיות בשליטה ומרוסנים כאשר מוציאים אותם החוצה.
        </div>
      </mat-tab>
        <mat-tab label=" אילוף">
            <div class="example-large-box mat-elevation-z4">
                כלבי האלסקן מלמוט הם כלבים נבונים וחכמים, לכן הם מתאימים מאוד לאילוף. הם זקוקים לאימונים אינטנסיביים כדי לעזור להם ללמוד כיצד להתנהג. שיגרה מאוד עוזרת לכלבי אלסקן מלמוט להבין מה נדרש מהם, לכן רצוי שיהיה להם סדר יום קבוע מהבוקר עד הלילה. האילוף של גזע אלסקן מלמוט צריך להיות חיובי ומתגמל, הם לא אוהבים תשומת לב שלילית והאילוף הטוב ביותר עבורם הוא אילוף של נימוסים טובים ולא של ציות פורמלי לפקודות, הזכרים הם יותר קשים לאילוף מהנקבות.
          </div>
      </mat-tab>
  </mat-tab-group>
  
